[submodule "rules-token"]
	path = rules-token
	url = git@github.com:Mimir-Solutions/rules-token.git
[submodule "regula-token"]
	path = regula-token
	url = git@github.com:Mimir-Solutions/regula-token.git
